<h1 class="home-slogan home-page__hero home-enter-content">
  <span class="slogan-line slogan-line--lead">Designing</span>
  <span class="slogan-line slogan-line--lead slogan-line--accent"><em>playful experiences</em></span>
  <span class="slogan-line slogan-line-sub">across emotion, interaction, and systems.</span>
</h1>
